[submodule "static/data/firefly_api"]
	path = static/data/firefly_api
	url = https://github.com/agurvich/firefly_api.git
[submodule "dataReader/firefly_api"]
	path = dataReader/firefly_api
	url = https://github.com/agurvich/firefly_api.git
