recursive-include src/Firefly/static/css *
recursive-include src/Firefly/static/docs *
recursive-include src/Firefly/static/js *
recursive-include src/Firefly/static/lib *
recursive-include src/Firefly/static/shaders *
recursive-include src/Firefly/static/textures *

recursive-include src/Firefly/static/data/FIREData_50 * 
include src/Firefly/static/data/startup.json

recursive-include src/Firefly/templates *

recursive-include src/Firefly/ntbks *

include src/Firefly/index.html
include src/Firefly/Firefly
include src/Firefly/bin/make_new_repo.sh
