recursive-include src/firefly/static/css *
recursive-include src/firefly/static/docs *
recursive-include src/firefly/static/js *
recursive-include src/firefly/static/lib *
recursive-include src/firefly/static/shaders *
recursive-include src/firefly/static/textures *

recursive-include src/firefly/static/data/FIREData_50 * 
include src/firefly/static/data/startup.json

recursive-include src/firefly/templates *

recursive-include src/firefly/ntbks *

include src/firefly/index.html
include src/firefly/firefly
include src/firefly/bin/make_new_repo.sh
