<div id="particles-js">
  <div class="header">
      <h1>
      <img alt="logo" 
        src="{{ "/assets/img/logo_banner.png" | prepend: site.baseurl }}" 
        style="width:100%"/>
        <!-- <span class="site-title">{{site.username}}</span> -->
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Contact us" href="http://github.com/{{ site.github_username }}/issues"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Github" target="_blank" href="http://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>What is Firefly?</a> - 
        <a class="link" target="_blank" href="http://www.alexbgurvi.ch/Firefly/docs/build/html/index.html">Documentation</a> - 
        <a class="link" href="#gallery" data-scroll>Gallery</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
