<html>

	<head>
		<meta charset="utf-8">
		<title>Firefly Viewer</title>		
		<link rel="icon" href="static/docs/icon.png">  

	</head>

	<body>

		<div style="background-color:black; position:absolute; top:0; bottom:0; left:0; right:0;" id='loader'></div>

		<div id="ContentContainer" > 
			{% set splash_dismissable = false %}
			{% include "_splash.html" %}

			<img id="stream">


		</div>

		<!-- d3 -->
		<script src="static/lib/d3.v4.10.2.min.js"></script>
		
		<!-- web sockets -->
		<script src="static/lib/socket.io.min.js"></script>

		<!-- for capturing video -->
		<script src="static/lib/CCapture/CCapture.all.min.js"></script>

		<!-- the main attraction -->

		<!-- my style sheet -->
		<link rel="stylesheet" type="text/css" href="static/css/mainStyles.css" />
		<link rel="stylesheet" type="text/css" href="static/css/splashStyles.css" />

		<!-- my js scripts -->
		<script src="static/js/misc/socketParams.js"></script>
		<script src="static/js/misc/windowEvents.js"></script>
		<script src="static/js/streamer/initStreamer.js"></script>

		<script>
			window.onload = initFPS( {{ input|tojson|safe }} );
		</script>
	</body>


</html>
